.swiper-slide{
  max-width: 360px;
  max-height: max-content;
  background: unset;
}
.swiper-pagination{
  position: unset;
  margin-top: 50px;
}
.swiper-pagination-bullet{
  width: 15px;
  height: 15px;

  opacity: 0.5;
  background: #2C3647;
  backdrop-filter: blur(100px);
  border-radius: 10px;
}
.swiper-pagination-bullet-active{
  opacity: unset;
  background: #2C3647;
  backdrop-filter: blur(100px);
  border-radius: 10px;
}