.main{
  padding: 30px;
  background: #18202C;
  border-radius: 10px;
  max-width: 360px;
  max-height: max-content;
}

.photo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 103px;
  & > img {
    max-height: 103px;
    max-width: 103px;
  }
}

.title{
  font-family: 'Open Sans',serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;

  text-align: center;

  color: #FFFFFF;

  opacity: 0.7;
  margin: 30px 0 30px 0 ;
}

.description{
  font-family: 'Open Sans',serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;

  text-align: center;


  color: #FFFFFF;

  opacity: 0.7;
}