@import "/src/styles/vars";
@import "/src/styles/fonts.scss";

.main {
  max-width: 260px;

  > .logo {
    position: absolute;
    top: -18px;
  }

  > .label {
    margin-top: 44px;

    font-family: 'Open Sans', sans-serif;
    font-size: 15.9627px;
    font-weight: 600;
    font-style: normal;
    line-height: 22px;
    color: $blue-color;
  }

  > .description {
    margin: 10px 0 37px 0;

    font-family: 'CircularStd', sans-serif;
    font-size: 14px;
    font-weight: 450;
    font-style: normal;
    line-height: 18px;

    opacity: 0.6;
  }

  > .cards {
    display: flex;
    flex-direction: column;
    gap: 20px;

    > .item {
      display: flex;
      align-items: center;

      > .link {
        text-decoration: none;
        color: $default-color;
      }

      > .img {
        margin-right: 9px;
      }
    }
  }

  @media only screen and (min-width: 0px) and (max-width: 521px) {
    & {

      > .cards {
        align-items: center;
      }
    }
  }
}




