@import '/src/styles/vars';

.main {
  cursor: pointer;

  padding: 15px 30px 15px 30px;

  color: #FFFFFF;

  background-color: $blue-color;
  border: unset;
  border-radius: 5px;

  > .textMain {
    display: flex;
    align-items: center;
  }

  &.defaultButton {
    height: 52px;
  }

  &.bigButton {
    height: 57px;
  }


  > .bigText {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: 27px;

  }

  > .defaultText {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 22px;

  }
}


