@import "/src/styles/vars";

.main {
  position: relative;
  background-color: #08101E;
  padding: 160px 0 100px 0;

}

.content {
  max-width: 604px;
}

.homeWrapper {
  position: relative;
}


.photo {
  position: absolute;
  top: -111px;
  right: -183px;
  @media only screen and (min-width: 1436px) and (max-width: 1520px) {
    & {
      right: -143px;
    }
  }

  @media only screen and (min-width: 1336px) and (max-width: 1436px) {
    & {
      right: -103px;
    }
  }
  @media only screen and (min-width: 1236px) and (max-width: 1336px) {
    & {
      right: -43px;
    }
  }
  @media only screen and (min-width: 0px) and (max-width: 1236px) {
    & {
      right: 0;
    }
  }
}

.logoCompany {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btns {
  position: relative;
  display: flex;

  & > button > p {
    display: flex;
    align-items: center;
  }

  & > button > p > img {
    margin-right: 10px;
  }

  & > button:not(:last-child) {
    margin-right: 20px;
  }

  margin-bottom: 200px;
}

.label {
  position: relative;
  color: $blue-color;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-transform: uppercase;
}

.title {
  color: $default-color;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 130%;
  margin: 10px 0 40px 0;
  position: relative;
}

.description {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: $default-color;
  opacity: 0.7;
  margin-bottom: 50px;
}
