@import '/src/styles/vars';
p {
  margin: 0;
}
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
  color: $default-color;
  scroll-behavior: smooth;
}

#root{
  height: 100%;
}

body {
  background: #020A18;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 100%;
}
