@import "/src/styles/vars";

.main {
  display: flex;
  gap: 40px;

  > .link {
    color: $default-color;
    text-decoration: none;
  }

  @media only screen and (min-width: 0px) and (max-width: 410px) {
    & {
      gap: 30px;
    }
  }

  @media only screen and (min-width: 0px) and (max-width: 347px) {
    & {
      gap: 20px;
    }
  }

}